img#country-flag {
    height: 48px;
}

div.rcoe-tab-title {
    display:inline-block; /* inline-block so we can set a width */
    /* transform: translateX(-100%); */
    white-space:nowrap; /* keep text one line */
    transition: all .5s ease-in-out;
    pointer-events:none; /* to avoid the hover on the text, remove to see the difference */
    overflow: hidden;
    width: 0;
}
  
.nav-link.active .rcoe-tab-title {
    /* transform: translateX(0); */
    width: unset;
}

.nav-link.disabled, .nav-link:disabled {
    pointer-events: auto;
}

.field--type-entity-reference {
    display: block;
    margin: 0px !important;
}




