/* 

Page and General

 */

 html {
    overflow-y: scroll !important;
  }

 .info-icon > .btn {
    width: 1.5rem;
    height: 1.5rem;
}

.field--type-entity-reference.field--name-field-policy {
    margin: 0;
}

.report-icon {
    float: right;
    top: 0px;
    right: -20px;
    position: relative;
    z-index: 1000;
    cursor: pointer;
    padding: 5px;
}
div#report-link {
    font-size: 30px;
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: #28a745;
    border-radius: 50%;
    display: none;
    cursor: pointer;
}
div#report-number {
    background: white;
    border: 3px solid #28a745;
    border-radius: 50%;
    color: #28a745;
    font-size: 14px;
    font-weight: bolder;
    width: 25px;
    position: relative;
    height: 25px;
    text-align: center!important;
    top: -10px;
    left: -10px;
} 

div#container-data,
div#container-map {
    flex-grow: 1;
    transition: all 1s;
}
.collapse-column {
    flex-grow: 0!important;
    padding-left: 0!important;
    padding-right: 0!important;
}
.wrapper-title-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-self: flex-start;
    padding: 20px;
    z-index: 2000;
    display: flex;
}

div.alert.alert-dismissible {
    z-index: 1025 !important;
}

.alert {
    z-index: 200;
}

#mini-loader-wrapper {
    top: 50px;
}
#mini-loader {
    margin: -40px 0 0 0px !important;
}


button.btn.btn-expand-map.collapseActivated {
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

.card-body {
    font-size: 14px;
}
button.dopa-button {
    margin-bottom: 10px !important;
    font-size: 20px;
    white-space: nowrap;
}
.dopa-button[aria-expanded=false] .card-expanded,
.dopa-button[aria-expanded=true] .card-collapsed,
.card-title[aria-expanded=false] .data-expanded,
.card-title[aria-expanded=true] .data-collapsed {
  display: none;
}

.inner-card-title {
    flex-grow: 1;
}
.report-interact{
    position: relative;
    right: 20px;
    bottom: -5px;
    font-size: x-small;
    color: #fff;
    padding: 2px;
    border-radius: 50%;   
}
i.fas.fa-plus.report-interact {
    background: #7faa46;
}
i.fas.fa-minus.report-interact {
    background: rgb(215, 25, 28);
}
.report-add,
.report-remove {
  padding: 0px 20px;
  pointer-events: none;
}
.report-icon i.fas.fa-minus,
.report-icon.report-added i.fas.fa-plus {
  display: none; 
}
.report-icon.report-added i.fas.fa-minus {
  display: inherit;
}

span.pa-totals {
    font-weight: bold;
}
.terrestrial-pa-num{
    color: #588d0b;
}
.marine-pa-num{
    color: #1da5bc;
}
.coastal-pa-num{
    color: #df772c;
}
.chart-wrapper{
    height: 150px;
}


/* 

Profile Card

 */
 
div.data-chart {
    height: 280px;
}
 
div.links-group > h5 {
    COLOR: #a7b4b8!important;
    padding: 2px 10px;
    FONT-SIZE: 14PX!important;
    font-weight: 500;
    border-bottom: 1px solid #2c3031!important;
    MARGIN-TOP: 22PX;
}
ul.profile-links li {
    list-style-type: none!IMPORTANT;
    FONT-SIZE: 11PX;
}

/* 

## DataTables General ##

*/
div.wrapper-data-table {
    min-height: 100px;
}

table.data-table.dataTable.no-footer {
    border-bottom: 0px!important;
}

input.form-control.table-search {
    width: auto;
    display: inline;
}

/* 

## DataTables Specific Tables ##

*/

#data-table-Elevationprofile_wrapper table.data-table td {
    color: #65a70c;
    font-weight: 600;
}
.table-indicator-bar{
    height: 8px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;  
}
.table-aichi-bar{
    font-size: 11px;
    color: white;
    border-radius: 3px;
    text-align: center;
}
.aichinoc1 {
    background-color: #9fafb3;
}
.aichinoc2 {
    background-color: #c1da9f;
}
.aichinoc3 {
    background-color: #6a9431;
}
.aichiyes {
    background-color: #7fad41;
}
.aichino1{
    background-color: #e4bb27;
}
.aichino2{
    background-color: #e46327;
}
.aichino3{
    background-color: #e49827;
}
.aichino4{
    background-color: #e44127;
}
.aichino5{
    background-color: #fc1602;
}
.iucn-redlist-img{
    width:30px;
}
.species-table-status{
    font-size: 10px;
    min-height: 30px;
    border-radius: 3px;
}
.species-ex{    
    background-color: #d27f08;
    color: white;
}
.species-ew{    
    background-color: #d27f08;
    color: white;
}
.species-cr{    
    background-color: #d27f08;
    color: white;
}
.species-en{    
    background-color: #d27f08;
    color: white;
}
.species-vu{    
    background-color: #efda0c;
    color: white;
}
.species-nt{    
    background-color: #d27f08;
    color: white;
}
.species-lc{    
    background-color: #d27f08;
    color: white;
}
.species-dd{    
    background-color: #d27f08;
    color: white;
}

.pa-type{
    color: white;
    padding-top: 2px;
    border-radius: 3px;
}
.pa-terrestrial{
    background-color: #7fad41;
}
.pa-coastal{
    background-color: #e29864;
}
.pa-marine{
    background-color: #8fcde5;
}

/* 

## Map Layers ##

 */
.slidecontainer {
    text-align: end;
}
.map-layer-title{
    padding-bottom: .5em;
}
.map-layer-description{
    font-size: 12px;
}
/* 

Legend

 */
.wrapper-layer-legend-colors,
.wrapper-layer-legend-labels {
    display: flex;
}
.icon-choropleth,
.icon-gradient,
.legendClassLabel{
    flex-grow: 1;
    flex-basis: 0;
    min-height:10px;
    margin-left:2px;
    font-size:10px;
}
select#country-selector {
    display: none;
}
 .chosen-select,.chosen-select-deselect{width:100%}.chosen-container{display:inline-block;position:relative;width:100%!important;font-size:1rem;text-align:left;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.chosen-container .chosen-drop{background:#fff;border:1px solid #80bdff;border-bottom-right-radius:.25rem;border-bottom-left-radius:.25rem;margin-top:-1px;position:absolute;top:100%;left:-9000px;z-index:1060}.chosen-container.chosen-with-drop .chosen-drop{left:0;right:0}.chosen-container .chosen-results{margin:0;position:relative;max-height:15rem;padding:.5rem 0 0 0;color:#6c757d;overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch}.chosen-container .chosen-results li{display:none;line-height:1.5;list-style:none;margin:0;padding:.25rem .25rem .25rem 1.5rem}.chosen-container .chosen-results li em{font-style:normal;color:#6c757d}.chosen-container .chosen-results li.group-result{display:list-item;cursor:default;padding-left:.75rem;color:#adb5bd;font-weight:400;text-transform:uppercase}.chosen-container .chosen-results li.group-option{padding-left:1.5rem}.chosen-container .chosen-results li.active-result{cursor:pointer;display:list-item}.chosen-container .chosen-results li.result-selected{color:#495057}.chosen-container .chosen-results li.result-selected:before{display:inline-block;position:relative;top:.3rem;width:1.25rem;height:1.25rem;margin-left:-1.25rem;content:"";background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23495057' d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'/%3E%3C/svg%3E");background-size:1.25rem 1.25rem;background-position:center center;background-repeat:no-repeat}.chosen-container .chosen-results li.highlighted{background-color:#007bff;background-image:none;color:#fff}.chosen-container .chosen-results li.highlighted:before{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'/%3E%3C/svg%3E")}.chosen-container .chosen-results li.highlighted em{background:0 0;color:rgba(255,255,255,.8)}.chosen-container .chosen-results li.disabled-result{display:list-item;color:#ced4da}.chosen-container .chosen-results .no-results{display:list-item;padding:.25rem 0 1rem 1.065rem;color:#dc3545}.chosen-container .chosen-results-scroll{background:#fff;margin:0 .25rem;position:absolute;text-align:center;width:20rem;z-index:1}.chosen-container .chosen-results-scroll span{display:inline-block;height:1.5;text-indent:-5000px;width:.5rem}.chosen-container-single .chosen-single{background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;border-top-left-radius:.25rem;border-top-right-radius:.25rem;border-bottom-right-radius:.25rem;border-bottom-left-radius:.25rem;color:#6c757d;display:block;height:calc(1.5em + .75rem);overflow:hidden;line-height:calc(1.5em + .75rem);padding:0 0 0 .75rem;position:relative;text-decoration:none;white-space:nowrap}.chosen-container-single .chosen-single abbr{display:inline-block;position:absolute;top:.325rem;right:2rem;width:2rem;height:1.5rem;cursor:pointer;background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23dc3545' d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3C/svg%3E");background-size:1.5rem 1.5rem;background-position:center center;background-repeat:no-repeat;background-color:#fff;box-shadow:4px 0 16px 16px #fff}.chosen-container-single .chosen-single abbr:hover{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23921925' d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3C/svg%3E")}.chosen-container-single .chosen-single span{display:block;margin-right:1.5rem;text-overflow:ellipsis}.chosen-container-single .chosen-single.chosen-disabled .chosen-single abbr:hover{background-position:right 2px}.chosen-container-single .chosen-single div{display:block;position:absolute;top:0;right:0;width:2rem;height:100%;padding-left:.5rem;background-color:#fff}.chosen-container-single .chosen-single div:after{display:inline-block;position:relative;top:.125rem;left:-1rem;width:2rem;height:2rem;content:"";background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23adb5bd' d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/%3E%3C/svg%3E");background-size:2rem 2rem;background-position:center center;background-repeat:no-repeat}.chosen-container-single .chosen-single:not(.chosen-single-with-deselect) div:after{background-color:#fff;box-shadow:4px 0 16px 16px #fff}.chosen-container-single .chosen-default{color:#adb5bd}.chosen-container-single a:not([href]):not([tabindex]){color:#6c757d!important}.chosen-container-single a:not([href]):not([tabindex]).chosen-single:not(.chosen-default){color:#6c757d!important}.chosen-container-single .chosen-search-input{border:none}.chosen-container-single .chosen-search{margin:0;padding:.5rem .5rem 0 .5rem;position:relative;white-space:nowrap;z-index:1000}.chosen-container-single .chosen-search input[type=text]{background-color:#f8f9fa;border:1px solid #ced4da;outline:0;border-top-left-radius:.25rem;border-top-right-radius:.25rem;border-bottom-right-radius:.25rem;border-bottom-left-radius:.25rem;padding:.25rem 1rem .25rem .5rem;width:100%}.chosen-container-single .chosen-drop{margin-top:-1px;border-bottom-right-radius:.25rem;border-bottom-left-radius:.25rem;background-clip:padding-box}.chosen-container-single-nosearch .chosen-search{display:none}.chosen-container-multi .chosen-choices{background-color:#fff;border:1px solid #ced4da;border-top-left-radius:.25rem;border-top-right-radius:.25rem;border-bottom-right-radius:.25rem;border-bottom-left-radius:.25rem;cursor:text;height:auto!important;margin:0;padding:.175rem;overflow:hidden;position:relative}.chosen-container-multi .chosen-choices li{float:left;list-style:none}.chosen-container-multi .chosen-choices .search-field{margin:0;padding:0;white-space:nowrap}.chosen-container-multi .chosen-choices .search-field input[type=text]{width:100%!important;margin:0;padding:.175rem .175rem .175rem .5rem;border:0!important;background:0 0!important;color:#6c757d;outline:0}.chosen-container-multi .chosen-choices .search-field .default{color:#ced4da}.chosen-container-multi .chosen-choices .search-choice{background-clip:padding-box;position:relative;max-width:320px;margin:.175rem .25rem;padding:.25rem 1.5rem .25rem .25rem;border:1px solid #ced4da;background-color:#f8f9fa;border-top-left-radius:.25rem;border-top-right-radius:.25rem;border-bottom-right-radius:.25rem;border-bottom-left-radius:.25rem;cursor:default;font-size:.875rem;line-height:1;color:#6c757d;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.chosen-container-multi .chosen-choices .search-choice .search-choice-close{display:inline-block;position:absolute;top:.2rem;right:.125rem;width:1rem;height:1rem;cursor:pointer;background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23dc3545' d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3C/svg%3E");background-size:1rem 1rem;background-position:center center;background-repeat:no-repeat}.chosen-container-multi .chosen-choices .search-choice .search-choice-close:hover{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23921925' d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3C/svg%3E")}.chosen-container-multi .chosen-choices .search-choice-focus{background:#dee2e6}.chosen-container-multi .chosen-choices .search-choice-focus .search-choice-close{background-position:right -11px}.chosen-container-multi .chosen-drop .result-selected{display:none}.chosen-container-active .chosen-single{border:1px solid #80bdff;box-shadow:0 0 0 .2rem rgba(128,189,255,.5);transition:border linear 0s,box-shadow linear 0s}@media (prefers-reduced-motion:reduce){.chosen-container-active .chosen-single{transition:none}}.chosen-container-active.is-valid .chosen-single{box-shadow:0 0 0 .2rem rgba(40,167,69,.4)}.chosen-container-active.is-invalid .chosen-single{box-shadow:0 0 0 .2rem rgba(220,53,69,.4)}.chosen-container-active.chosen-with-drop .chosen-single{background-color:#fff;border:1px solid #80bdff;border-bottom-right-radius:0;border-bottom-left-radius:0;box-shadow:none;transition:border linear 0s,box-shadow linear 0s}@media (prefers-reduced-motion:reduce){.chosen-container-active.chosen-with-drop .chosen-single{transition:none}}.chosen-container-active.chosen-with-drop .chosen-single div:after{display:inline-block;position:relative;top:.125rem;left:-1rem;width:2rem;height:2rem;content:"";background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23adb5bd' d='M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z'/%3E%3C/svg%3E");background-size:2rem 2rem;background-position:center center;background-repeat:no-repeat}.chosen-container-active .chosen-choices{border:1px solid #80bdff;border-bottom-right-radius:0;border-bottom-left-radius:0;transition:border linear 0s,box-shadow linear 0s}@media (prefers-reduced-motion:reduce){.chosen-container-active .chosen-choices{transition:none}}.chosen-container-active .chosen-choices .search-field input[type=text]{color:#6c757d!important}.chosen-container-active.chosen-with-drop .chosen-choices{border-bottom-right-radius:0;border-bottom-left-radius:0}.chosen-container-active.chosen-with-drop .chosen-search-input{display:inline-block}.chosen-disabled{cursor:default;opacity:.5!important}.chosen-disabled .chosen-single{cursor:default}.chosen-disabled .chosen-choices .search-choice .search-choice-close{cursor:default}.chosen-container-optgroup-clickable li.group-result{text-transform:none!important}.chosen-container-optgroup-clickable li.group-result:hover{background-color:#007bff;color:#fff;cursor:pointer}.chosen-container-optgroup-clickable li.group-result:hover em{color:#fff}.chosen-container.is-valid .chosen-choices,.chosen-container.is-valid .chosen-drop,.chosen-container.is-valid .chosen-single,.chosen-container:valid .chosen-choices,.chosen-container:valid .chosen-drop,.chosen-container:valid .chosen-single{border-color:#28a745}.chosen-container.is-invalid .chosen-choices,.chosen-container.is-invalid .chosen-drop,.chosen-container.is-invalid .chosen-single,.chosen-container:invalid .chosen-choices,.chosen-container:invalid .chosen-drop,.chosen-container:invalid .chosen-single{border-color:#dc3545}input[type=text].chosen-focus-input{position:absolute;top:-9000px;width:0;height:0;margin:0;padding:0;background:0 0!important;border:0!important;outline:0}.input-group:nth-of-type(1) .chosen-container .chosen-choices{border-top-left-radius:0;border-bottom-left-radius:0}.input-group:not(:nth-of-type(1)) .chosen-container .chosen-choices{border-top-right-radius:0;border-bottom-right-radius:0}.input-group:not(:nth-of-type(1)) .input-group-prepend .input-group-text{border-top-right-radius:.25rem;border-bottom-right-radius:.25rem}.input-group .chosen-container{position:relative;-ms-flex:1 1 auto;flex:1 1 auto;width:1%!important}.input-group .chosen-choices .search-field{min-height:calc(1.5em + .75rem)}

 .indicator-content-wrapper .btn-close {
    display: none;
 }

.edit-menu-trigger {
    position: relative !important;
    top: 0px !important;
    right: 0px !important;
}

.wrapper-ctt-data-card .indicator-title{
    display: none;
}

.field.field--name-field-reference-policy.field--type-entity-reference {
    display: flex;
    flex-direction: column;
}

/* nav.tabs {
    float: left;
    z-index: 200;
} */

.card-header{
    display: none;
}

main.main-content div.alert.alert-dismissible {
    left: 25%;
    margin-left: unset;
}

.card.indicator-card {
    background-color: unset !important;
    box-shadow: none !important;
}

.card.indicator-card button.nav-link {
    border-width: 0px !important;
}

.card.indicator-card button.nav-link.active {
    background-color: #041d3c;
}

.indicator-card-title,
.layer-btn-hide, 
.layer-btn-up,
.layer-btn-down,
.layer-btn-stats,
.btn-statistical-analysis, 
#map-legend, 
.slidecontainer {
    display: none !important;
}

div#nav-tabContent {
    border-left: 1px #003776 solid;
    border-right: 1px #003776 solid;
    border-bottom: 1px #003776 solid;
}