/* 

Reporting

 */

ul.indicator-list {
    border: 3px dashed #ccc;
    flex: 1 1 0px;
    min-height: 500px;
}
div.data-chart {
    height: 280px;
}
div#report-area-title {
    text-align: center;
    font-size: 38px;
}

li.ui-sortable-handle {
    margin: 10px;
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}

li.ui-sortable-handle.ui-sortable-helper { 
    cursor: grabbing; 
    cursor: -webkit-grabbing;
}

.dopa-button[aria-expanded=false] .card-expanded,
.dopa-button[aria-expanded=true] .card-collapsed,
.card-title[aria-expanded=false] .data-expanded,
.card-title[aria-expanded=true] .data-collapsed {
  display: none;
}
table.data-table {
    width: 100%!important;
}

.inner-card-title {
    flex-grow: 1;
}

div#collapseHeader {
    text-align: right;
}
div#collapseFooter {
    text-align: center;
}
img.report-header-logo {
    height: 60px;
}
img.report-footer-logo {
    height: 180px;
}

@media print
{
    #container-page table tr {
        border-bottom: 0px!important;
    }
    ul.indicator-list {
        border: 0px !important;
    }
    
    header#header,
    #card-title-header,
    #card-title-footer,
    #sliding-popup,
    button.button.button--ultimenu,
    i.fas, i.far {
        display: none !important;
    }
    li.ui-sortable-handle {
        list-style: none;
    }
    
    div#collapseHeader {
        right: 20px;
        margin-right: 50px;
    }
    div#collapseFooter {
        width: 402px;
        margin: 0px auto; 
    }

    .header, .header-space{
        height: 100px;
    }
      
    .footer, .footer-space {
        height: 400px;
    }
      
    .header {
          position: fixed;
          top: 0;
    }

    .footer {
          position: fixed;
          bottom: 0;
    }

}