 {#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}

{{ attach_library( 'akp_countries/dopa_country' ) }}
{{ attach_library( 'biopama_conservation_tracking/ct-page' ) }}
{{ attach_library( 'biopama_conservation_tracking/main' ) }}
{# {{ attach_library( 'akp_gbif/gbif' ) }} #}

<div id="container-page" class="container-fluid">
  <div class="row">
	<div class="col-8 p-0 pt-4">
	  	<!-- Start Title -->
		<div class="">
			<div class="col d-flex flex-grow-1">
				<div class="wrapper-title-flag d-flex align-items-center px-4">
					<img id="country-flag" src="">
				</div>
				<div class="title-sidebar flex-grow-1" id="dopa-title">
					<h1 class="m-0">
						<div class="d-inline scope-name" id="title-scope-name">{{label}}</div>
					</h1> 
				</div>
			</div>
			<div class="col flex-grow-0">
				<div id="report-link" class="text-center m-3" data-bs-toggle="tooltip" data-bs-html=true data-bs-placement="right" title="Click here to go to the report printing page"> 
					<div id="report-icon-large">
						<i class="far fa-file-alt"></i>
					</div> 
					<div id="report-number"> </div> 
				</div> 
			</div>
		</div>
	  	<!-- End Title -->
	</div>
    <div class="col-4 p-0">
		<div id="container-area-search" class="d-print-none p-3">
			<div id="country-search">
			</div>
		</div>
		<div class="fw-lighter fst-italic px-3 pt-3 text-center">
			Within the country profile you can explore global and national datasets and near real-time information.
		</div>
		<div id="node_fields" class="d-print-none hidden">
			<div id="nid">
			{{node.id}}
			</div>
			<div id="country_iso2">
			{{content.field_country_iso2}}
			</div>
			<div id="country_iso3">
			{{content.field_country_iso3}}
			</div>
			<div id="country_iso3_num">
			{{content.field_country_iso3_num}}
			</div>
			{{ content.field_rcoe_action }}
		</div>
	</div>
  </div>

  <div class="row pt-4">
    <div class="col" id="container-data">
	  <nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			{% for action in rcoe_actions %}
				{% set active = "" %}
				{% if loop.first %}
					{% set active = "active" %}
				{% endif %}
				{% set tab_name = action.name|replace({' ': '', '&': ''}) %}
				{% if tab_name == "TransversalComponent" %}
				{% elseif tab_name in ["Energy", "ClimateandDisasterResilience", "Oceans"]  %}
					<button class="nav-link disabled" id="nav-{{tab_name}}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{tab_name}}" type="button" role="tab" aria-controls="nav-{{tab_name}}" aria-selected="false">
						<div class="d-flex" style="color: #fff !important; font-size:2rem !important;" data-bs-toggle="tooltip" title="{{action.name}} - Action starting in 2025">
							<div class="rounded-circle disabled-circle" style="border: 2px solid #888 !important; width: 3.3rem; height 3rem;">
								<div class"responsive-circle-content">
								{% if action.icon %}<i class="{{ action.icon }}"></i>{% endif %}
								</div>
							</div>
							<div class="rcoe-tab-title">
								&nbsp;{{action.name}}
							</div>
						</div>
					</button>
				{% else %}
					<button class="nav-link {{active}}" id="nav-{{tab_name}}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{tab_name}}" type="button" role="tab" aria-controls="nav-{{tab_name}}" aria-selected="false">
						<div class="d-flex" style="color: #fff !important; font-size:2rem !important;" data-bs-toggle="tooltip" title="{{action.name}}">
							<div class="rounded-circle" style="border: 2px solid {{ action.color }}; background: {{ action.color }}; width: 3rem; height 3rem;">
								<div class"responsive-circle-content">
								{% if action.icon %}<i class="{{ action.icon }}"></i>{% endif %}
								</div>
							</div>
							<div class="rcoe-tab-title">
								&nbsp;{{action.name}}
							</div>
						</div>
					</button>
				{% endif %}
			{% endfor %}
		</div>
	  </nav>
	  <div class="tab-content" id="nav-tabContent">
	  
		{% for action in rcoe_actions %}
			{% set active = "" %}
				{% if loop.first %}
					{% set active = "show active" %}
				{% endif %}
			{% if action.name == "Transversal Component" %}
			{% else %}
				{% set tab_name = action.name|replace({' ': '', '&': ''}) %}
				<div class="tab-pane fade {{active}}" id="nav-{{tab_name}}" role="tabpanel" aria-labelledby="nav-{{tab_name}}-tab">
					<!-- Start Cards -->
					<div class="wrapper-cards-sidebar row  mx-1 pt-3">
						{% if action.data %}
							{% for cardId, data in action.data %}
								{% include 'data-card.html.twig' %}
							{% endfor %}
						{% endif %}
						<div class="contextual-region">
							{{ drupal_contextual_links('entity.view.edit_form:view=country_page_ctt_indicators_by_action&display_id=block:') }}
							{{ drupal_view('country_page_ctt_indicators_by_action', 'block', action.name) }}
						</div>
					</div>
					<!-- End Cards --> 
				</div>
			{% endif %}
		{% endfor %}
	  </div>
	  <button class="biopama-collapse my-2 btn  btn-outline-light w-100 d-flex justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDocuments" aria-expanded="false" aria-controls="collapseDocuments">
		<div class="collapse-title"><i class="fa-solid fa-book"></i> Documents </div><div class="card-collapsed"><i class="fas fa-chevron-down"></i></div><div class="card-expanded"><i class="fas fa-chevron-up"></i></div>
	  </button>
		<div class="collapse wrapper-card" id="collapseDocuments">
			<div class="m-3 border-0">
			<div class="card-body">
				<div class="card-text">
					<div class="contextual-region">
						{{ drupal_contextual_links('entity.view.edit_form:view=documents_by_scope_&display_id=country:') }}
						{{ drupal_view('documents_by_scope_', 'country') }}
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	{# <div class="col p-0  {{ heightclass }}" id="container-map">
		<div id="container-area-search" class="d-print-none p-3">
			<div id="country-search">
			</div>
		</div>
		<div id="container-mapbox-map"></div>
	</div> #}
  </div>
</div>