{% set cardName = card.name|replace({'&': 'and', ' ': ''}) %}
<button class="biopama-collapse my-2 btn btn-outline-light w-100 d-flex justify-content-between"  style="--bs-btn-border-color: {{action.color}};" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ cardName }}" aria-expanded="false" aria-controls="collapse{{ cardName }}">
	<div class="collapse-title"><i class="{% if card.icon %}{{ card.icon }}{% endif %}" style="color: {{action.color}};" ></i> {{ card.name }} </div><div class="card-collapsed"><i class="fas fa-chevron-down"></i></div><div class="card-expanded"><i class="fas fa-chevron-up"></i></div>
</button>

<div class="collapse wrapper-card" id="collapse{{ cardName }}">
	<div class="mb-3 border-0">
	  <div class="card-body">
		<div class="card-text">
			<div class="container-fluid">
				<div class="row">

				{% if card.data %}
				{% for cardId, data in card.data %}
					{% include 'data-card.html.twig' %}
				{% endfor %}
				{% endif %}
				{% if card.custom %}
					{{ card.custom|raw }}
				{% endif %}
				
				{% set thisPath = path('<current>') %}

				{% if '/country/' in thisPath %}

					{# {% include '@akp_gbif/gbif.html.twig' %} #}

					<div class="card-title">
						Datasets
					</div>
					
				{% endif %}

				{% if '/pa/' in thisPath %}
					{% if eStationIsEnabled %}
						{% include '@biopama_estation/estation.html.twig' %}
					{% endif %}
					<div class="contextual-region">
						{{ drupal_contextual_links('entity.view.edit_form:view=protected_area_page_ctt_indicators:') }}
						{{ drupal_view('protected_area_page_ctt_indicators', 'block', card.name) }}
					</div>
				{% endif %}

				</div>
			</div>
		</div>
	  </div>
	</div>
</div>
